<ion-card>
        
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary" > {{ i + 1 }}. </span>
      <span class="noticia-source-name" > {{ noticia.source.name }} </span>
      
      <div class="noticia-more" >

        <ion-button 
                (click)="lanzarMenu()"
                fill="clear">
          <ion-icon slot="icon-only"
                    name="ellipsis-vertical-outline"
          >  </ion-icon>
        </ion-button>

      </div>

    </ion-card-subtitle>
    <ion-card-title (click)="abrirNoticia()"> {{ noticia.title }} </ion-card-title>
  </ion-card-header>

  <ion-img
    class="animate__animated animate__fadeIn animate__fast"
    *ngIf="noticia.urlToImage"
    [src]="noticia.urlToImage"
    (click)="abrirNoticia()"
    ></ion-img>

  <ion-card-content>
    <p> {{ noticia.description }} </p>
  </ion-card-content>

</ion-card>