<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>

  <ion-segment value="opcion" (ionChange)="cambioCategoria($event)" scrollable mode="md">
    <ion-segment-button [value]="categoria" mode="md" *ngFor="let categoria of categorias">
      <ion-label>{{ categoria }}</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content [fullscreen]="true">

    <app-noticias [noticias]="noticias"></app-noticias>

    <ion-infinite-scroll threshold="150px" position="bottom" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"
                                   loadingText="Cargar data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
